body {
  background-color: #282828;
  color: white;
  height: 100vh;
  width: 100%;
  margin: 0;
}

button {
  background-color: #282828;
  color: white;
  border-style: none;
  font-size: medium;
}

h1 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.buttons {
  padding: 5px;
  display: flex;
  gap: 10px;
}

textarea {
  flex: 1;
  background-color:  #3f3f3f ;
  color: white;
  resize: none;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: larger;
}